nltk==3.9.1
numpy==2.1.1
pandas==2.2.3
pillow==10.4.0
PyPDF2==3.0.1
python-dateutil==2.9.0.post0
python-docx==1.1.2
streamlit==1.38.0
sympy==1.13.3
tokenizers==0.19.1
toml==0.10.2
matplotlib==3.9.2
torch==2.4.1
tokenizers==0.19.1
tornado==6.4.1
tqdm==4.66.5
transformers==4.44.2
translate==3.6.1
typing_extensions==4.12.2
